<div (click)="onBack()" class="back-btn"> 
  <fa-icon class="fa-back" [icon]="faHandPointLeft"></fa-icon>
   Back
</div>

<div class="edit-container">
    <div *ngIf="contact.img" class="img-container" [ngStyle]="{'background-image':'url(' + imageUrl + contact.img + imageFormat + ')'}" (click)="toggleModal()">
    </div>


    <form [formGroup]="contactForm" (ngSubmit)="onSaveContact()" >
      <input type="text" formControlName="name"  placeholder="name"   maxlength="20"  id="name" name="name" class="form-control form-input" [ngClass]="{ 'is-invalid': f.name.touched && f.name.errors }">
      <div *ngIf="f.name.touched && f.name.errors" class="invalid-feedback">
        <div *ngIf="f.name.errors.required">Please fill out this field</div>
      </div>
      <input type="email" formControlName="email" placeholder="Email" class="form-control form-input" [ngClass]="{ 'is-invalid': f.email.touched && f.email.errors}">
      <div *ngIf="f.email.touched && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Please fill out this field</div>
        <div *ngIf="f.email.errors.email">Please include an '@' in the email address
        </div>
      </div>
      <input type="text" formControlName="phone" placeholder="Phone" maxlength="18" class="form-control form-input" [ngClass]="{ 'is-invalid': f.phone.touched && f.phone.errors }">
      <div *ngIf="f.phone.touched && f.phone.errors" class="invalid-feedback">
        <div *ngIf="f.phone.errors.required">Please fill out this field</div>
        <!-- <div *ngIf="f.phone.errors.pattern">Please match the requested format: +(123) - 456-78-90</div> -->
      </div>

      <div class="checkbox" >
        <input id="box1" type="checkbox"  formControlName="isFavorite">
        <label for="box1" *ngIf="contact.isFavorite===false">Add contact to favorite</label>
        <label for="box1" *ngIf="contact.isFavorite===true">Contact added to favorite list</label>
      </div>
  
      <select formControlName="category" >
          <option value="" disabled selected>Select contact category</option>
          <option *ngFor="let category of categores" [ngValue]="category.name">
            {{ category.abbrev }}
          </option>
      </select>
  
      <button type="submit" [disabled]="!contactForm.valid">Save</button>
    </form>

    <!-- <div *ngIf="isModalOpen">bbfbgdfbdfbdf</div> -->

    <div class="avatar-modal" *ngIf="isModalOpen">
      <fa-icon class="close-btn" (click)="toggleModal()" [icon]="faTimesCircle"></fa-icon>
      <div class="img-container" [ngStyle]="{'background-image':'url(' + imageUrl + contact.img + imageFormat + ')'}">
      </div>
     <section class="imgs">
      <div class="modal-img-container" *ngFor="let img of imgs" (click)="getImgNum(img)">
        <div  [ngStyle]="{'background-image':'url(' + imageUrl + img + imageFormat + ')'}"></div>
      </div>
     </section>
    </div>


</div>
