

<div class="news-list" >
  <div *ngIf="isLoading" class="loader">
    <div id="preloader">
      <div id="loader"></div>
    </div>
  </div>
    <div class="news-container">
        <div class="top-container">
            <div class="section-title"> 
              <fa-icon class="arrow-left" (click)="onPrev()"  [ngClass]="(this.current===0)?'not-active-btn':''" [icon]="faChevronLeft"></fa-icon>
                latest news
              <fa-icon class="arrow-right" (click)="onNext()"  [icon]="faChevronRight"></fa-icon>
            </div>
            <div class="img" [ngStyle]="{ 'background-image': 'url(' + item.imageurl + ')'}" ></div>
            <div class="title">{{item.title}}</div>
            <div class="date">Published on {{item.published_on*1000 | date }}</div>
            <div class="description">{{item.body}}</div>
        </div>
        <a class="btn" [href]="item.guid" target="_blank">read more</a>
    </div>
</div>


