
<div class="btn-container">
        <div (click)="onBack()" class="back-btn"> <fa-icon class="fa-back" [icon]="faHandPointLeft"></fa-icon> Back</div>
        <a [routerLink]="['/edit',contact._id]" class="edit-btn">
            <div>  <fa-icon class="fa-user-edit" [icon]="faUserEdit"></fa-icon> Edit</div>
        </a>
   
</div>
<div class="contact-details-container">
    <div class="contact">
        <!-- <img src="https://img.icons8.com/plasticine/100/000000/user.png"/> -->
        <div class="contact-img-container">
            <div class="contact-img" [ngStyle]="{'background-image':'url(' + imageUrl + contact.img + imageFormat + ')'}"></div>
        </div>
        <div class="name">{{contact.name}}</div>
        <div class="phone">{{contact.phone}}</div>
        <div class="email">{{contact.email}}</div>
    </div>
    
    
    <!-- <contact-edit [contact]="contact"></contact-edit> -->
    
<!-- <transfer-fund [addMove]="addMove" [contact]="contact" [user]="user" ></transfer-fund> -->
<transfer-fund (newItemEvent)="addAmount($event)" ></transfer-fund>

<moves-list [currContactMoves]="currContactMoves" ></moves-list>
</div>

<router-outlet></router-outlet>





