@mixin flexCenter($direction){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}
@mixin flex($direction,$content){
    display: flex;
    justify-content: $content;
    align-items: center;
    flex-direction: $direction;
}
$clr1: rgb(15, 52, 73);
$clr3: rgb(206, 57, 114);

.transfer-container{
    margin: 40px auto;
    input, button{
        padding: 10px;
        border-radius:4px 0 0 4px;
        background-color: rgb(2, 32, 49);
        border: none;
        color: rgb(238, 238, 238);

    }
    button{
       background-color: $clr3;
       border-radius: 0 4px 4px 0;
       cursor: pointer;
       transition: 0.2s;
       &:hover{
            background-color: #e7328a;
       }
    }
    .user-amount{
        font-size: 11px;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 5px;
        color: grey;
    }
}

.message-container{

}
.not-valid{

}
.success{

}
.error{

}


//---------------------

.user-msg-continer{
    color: rgb(36, 36, 36);
    border: 1px solid ;
    display: flex;
    justify-content: start;
    max-width: 360px;
    width: 90vw;
    height: 80px;
    background: #f7f7f7e0;
    border-radius: 10px;
    box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.2);
    overflow: hidden;
    animation: slide-in .5s ease-out forwards;
    // position: fixed;
  
  
}
.msg-content{
    display: flex;
    align-items: center;
    justify-content: start;
}
@keyframes slide-in {
    0% {
      transform: translate(0,-10px);
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  

.before {
    width: 5px;
    height: 80px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .icon {
      margin-left: 30px;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white
    }
    
    .text {
      max-width: 250px;
      width:80%;
      align-self: flex-start;
      flex-wrap: wrap;
      display:flex;
      align-items:start;
    //   margin-left:10%;
      font-family: Tahoma,Arial,"Hiragino Sans GB","simsun",sans-serif;
      p:first-child {
        font-weight: bold;
        margin-top: 15px;
        margin-bottom: 10px;
      }
    }
    
    .text > * {
      margin: 0;
      max-width: 400px;
      min-width: 200px;
    }

    
    .message {
      margin-top: 15px;
      font-size:.8em;
      color: #878787;
    }
    
    .close {
      flex-grow: 1;
      display: flex;
      justify-content: flex-end;
      user-select: none;
      transform: translate(10px,-5px);
      font-size: 2.5em;
    /*   transform: scaleX(1.2); */
      color: #7e7e7e;
      cursor:pointer;
    }
    

    @keyframes msg {
        0% {
          opacity: 1;
        }
        100% {
          transform: translate(0,-10px);
          opacity: 0;
        }
      }
      
      .msg-area {
        z-index:2;
        height: 80vh;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        
      }
      
      .msg-area > * {
        margin-top: 1em;
      }
      
@media only screen and (max-width:400px){
  .user-msg-continer{
    font-size: 14px;
  }
}
