.stock-chart-options{
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    select, input, button{
        padding: 5px;
        border: none;
        margin-left: 5px;
        margin-bottom: 5px;
        width: 70px;
        border-radius: 4px;
        background-color: rgb(190, 190, 190); 
        transition: 0.2s;
        &:hover{
            background-color:rgb(235, 235, 235);
        }

    }
    select, button{
        cursor: pointer;
    }
    button{
        width: 100x;
        background-color: #aa2364;
        transition: 0.2s;
        color: rgb(235, 235, 235);
        &:hover{
            background-color: #e7328a;
        }
    }
}

