
  <nav [ngClass]="{'hidden': !currentUser}" >
    <div class="nav-container">
      <a routerLink="/home" routerLinkActive="active" class="logo"></a>
      
      <div class="links-container" (click)="onButtonGroupClick($event)">
        <div class="user-logout-container" *ngIf="currentUser" >

          <div *ngIf="user.img" class="user-img back-img-container" [ngStyle]="{'background-image':'url(' + imageUrl + user.img + imageFormat + ')'}"
          ></div>
          <img *ngIf="!user.img" class="user-img" src="https://img.icons8.com/color/100/000000/user-male-circle.png"/>
           <a (click)="logout()">
            Logout
          </a>
        </div>

        <a routerLink="/home"  class="news-link"  routerLinkActive="active"><fa-icon [icon]="faHome"></fa-icon> </a> 
        
        <a routerLink="/news" class="news-link"  routerLinkActive="active"><fa-icon [icon]="faNewspaper"></fa-icon> </a>

        <a routerLink="/contacts" routerLinkActive="active"><fa-icon [icon]="faUsers"></fa-icon>
        </a>

      </div>
    
    </div>
</nav>


  <div class="alert-container">
    <alert></alert>
  </div>


  <router-outlet></router-outlet>


